.badge-style{
  display: flex;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px;
  cursor: pointer;
}

.grad-badge{
  background-image: linear-gradient(#8E27EA,#8253DF);
}

.custom-badge:hover{
  background-color: #dfdfdf;
  transition: 0.5s ease;
}


.badge-contanier{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.badges-row{
  display: flex;
  flex-wrap: wrap;
}



.btn-grad {background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%)}

.btn-grad {
   margin: 10px;
   cursor: pointer;
   padding: 10px 30px;
   text-align: center;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 50px;
   display: block;
 }

 .btn-outline{
   margin: 10px;
   cursor: pointer;
   padding: 10px 30px;
   text-align: center;
   transition: 0.5s;
   background-size: 200% auto;
   color: #2e2e2e;        
   border: 1px solid #2e2e2e ;    
   border-radius: 50px;
   display: block;
}
 

 .btn-grad:hover {
   background-position: right center; 
   color: #fff;
   text-decoration: none;
 }
         
 .bar-inner{
  background-image: linear-gradient(to right, #8E27EA 0% 51%, #8253DF  100%)
}