.badge-style{
    display: flex;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
    cursor: pointer;
}

.grad-badge{
    background-image: linear-gradient(#8E27EA,#8253DF);
}

.custom-badge:hover{
    background-color: #dfdfdf;
    transition: 0.5s ease;
}


.badge-contanier{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.badges-row{
    display: flex;
    flex-wrap: wrap;
}