.App {
  background-image: url('./assests/Bgform1.svg');
  background-size: cover;
  min-height: 100vh;
  display: flex;
}

.calendar{
  position: absolute;
  display: block;
  z-index: 10;
}

.form-background{
  background-size: cover;
  height: 100vh;
}

::-webkit-input-placeholder { /* Chrome */
  font-size: 15px;
  padding: 5px;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 15px;
  padding: 5px;
}

::-moz-placeholder { /* Firefox 19+ */
  font-size: 15px;
  padding: 5px;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  font-size: 15px;
  padding: 5px;
  opacity: 1;
}
